body {
    background-color: rgb(253, 251, 251);
}

h1, h3 {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid red;
    margin: 3px;

}
#cabecalho {
    top: 0px;
    width: 99%;
    position: fixed;
    border: 3px solid red;
    background-color: rgb(220, 220, 235);

}
#minha_foto {
    width: 150px;
    border: 3px solid red;
    margin-top: 106px;  
}
#licoes_aprendidas {
    border: 3px solid red;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 3px;
}
#licoes_a_aprender {
    border: 3px solid red;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 3px;
}
