body {
    background-color: rgb(253, 251, 251);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    border: 3px solid red;

}
#cabecalho {
    top: 0px;
    position: fixed;
    border: 3px solid red;
    background-color: rgb(220, 220, 235);

}
#minha_foto {
    width: 150px;
    border: 3px solid red;
    margin-top: 106px;  
}
#licoes_aprendidas {
    border: 3px solid red;
    font-family: Arial, Helvetica, sans-serif;
}
