div, main, article, table, tr, td, aside, footer, header, h1, h2, h3, ol, ul{
    border: 3px solid red;
    margin: 3px;
}

div {
    display: inline-block;
}

main {
    min-width: 1025px;
    max-width: 75%;
    padding:30px;
}

article {
    max-width: 1012px;
    min-width: 516px;
}

aside {
    display: block;
    max-width: 1012px;
    min-width: 516px;
}

h1, h2, h3 {
    background-color:rgb(47, 224, 165);
    text-align: center;
}

h3 {
    min-width: 485px;
}

body {
    background-color: rgb(253, 251, 251);
}

a {
    transform: none;
    text-decoration: none;
    display: inline;
    color: darkblue;
    letter-spacing: 5px
}

p, #licoes_aprendidas, #licoes_a_aprender {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    margin: 3px;
}

table tr#table_top td {
    background-color: rgba(13, 227, 13, 0.557);
    border: 3px solid black;
}


#licoes_aprendidas, #licoes_a_aprender {
    display: block;
}

#cabecalho {
    top: 0px;
    position: fixed;
    display: inline;
    width: 1025px;
}

#minha_foto {
    width: 150px;
    border: 3px solid red;
    margin-top: 106px;
    padding: 3px;
}

#rodape {
    height: auto;
    margin-top: 3px;
}

